<html>
<head>
<title>Charity Bag Report</title>
<style>
  table {
     border-collapse: collapse;
     border: 2px solid #444;
  }
  td {
    border: 2px solid #666;
  }
  .total {
     font-weight: bold;
     text-align: right;
  }

</style>
</head>
<body>

{{#each trips}}
   <h1>Report of Goods</h1>
   <table>
	<tr>
	<td>Charity:</td><td>{{charity}}</td>
	</tr><tr>
	<td>Date:</td><td>{{date}}</td>
	</tr><tr>
	<td>&nbsp;</td><td>{{bags}} Bags of Clothing</td>
	</tr>
	<tr><td>&nbsp;</td></tr>
	{{#each items}}
	    <tr><td>&nbsp;</td><td>{{name}}</td><td class="currency">${{price}}</td></tr>
	{{/each}}
	<tr><td>&nbsp;</td></tr>
	<tr>
	<td>&nbsp;</td><td><span class="total">Total</span></td><td class="currency">${{total}}</td>
	</tr>
   </table>
{{/each}}
<hr />
</body>
</html>
